@media screen and (max-widht: 1300px) {
    .off-canvas{
        width: 75%;
        background-color: white;
    }
    .bas-1{
      
      margin-left: 5%;
      margin-top: 5%;
     margin-right: 3%;
      height: max-content;
      overflow: auto;
  }
    .pro-6{
         position: relative;
    width: 100%;
    height: max-content;
    background-color: white;
   
    margin-top: 5%;
    margin-left: 3%;
  
    border-radius: 15px;
     }
  .pro-li-1{
      position: relative;
       flex-direction: end;
       justify-content: flex-end;
       text-decoration: none;
       list-style: none;
       color: white;
       padding-top: 8%; 
       margin-top: 30%;
        height: 3rem;
       text-align: center;
       justify-content: center;
  }
  .pro-ul{
    margin-left: 0%;
    position: relative;
    left: -6%;
  }
  
    .pro-5{
    position: relative;
    width: 15%;
    background-color: #003666;
    height: 100%;
    margin-top: 3%;
   
  }
    .pro-det{
    display: flex;
   flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 29px;
  margin-top: 2%;
  margin-left: 5%;
  color: #FFFFFF;
  }
  }
  @media screen and (max-widht: 1200px) {
   .off-canvas{
        width: 75%;
        background-color: white;
    }
    .bas-1{
      margin-left: 2%;
      margin-top: 2%;
     margin-right: 3%;
      height: max-content;
      overflow: auto;
  }
    
  .pro-6{
        position: relative;
    width: 100%;
    height: max-content;
    background-color: white;
   
    margin-top: 5%;
    margin-left: 3%;
  
    border-radius: 15px;
     }
  .pro-li-1{
      position: relative;
       flex-direction: end;
       justify-content: flex-end;
       text-decoration: none;
       list-style: none;
       color: white;
       left: -10%;
       padding-top: 8%; 
       margin-top: 30%;
        height: 3rem;
       text-align: center;
       justify-content: center;
  }
   .pro-5{
    position: relative;
    width: 15%;
    background-color: #003666;
    height: 100%;
    margin-top: 3%;
   
  }
    .pro-det{
    display: flex;
   flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 29px;
  margin-top: 2%;
  margin-left: 5%;
  color: #FFFFFF;
  }
  }
  @media screen and (max-widht: 1100px) {
  
     .off-canvas{
        width: 75%;
        background-color: white;
    }
    .bas-1{
      margin-left: 2%;
      margin-top: 2%;
     margin-right: 3%;
      height: max-content;
      overflow: auto;
  }
  
    .pro-6{
        position: relative;
    width: 100%;
    height: max-content;
    background-color: white;
   
    margin-top: 5%;
    margin-left: 5%;
  
    border-radius: 15px;
     }
  .pro-li-1{
      position: relative;
       flex-direction: end;
       justify-content: flex-end;
       text-decoration: none;
       list-style: none;
       color: white;
       padding-top: 8%; 
       margin-top: 30%;
        height: 3rem;
       text-align: center;
       justify-content: center;
  }
  
    .pro-5{
    position: relative;
    width: 15%;
    background-color: #003666;
    height: 100%;
    margin-top: 3%;
   
  }
   .pro-det{
    display: flex;
   flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 29px;
  margin-top: 2%;
  margin-left: 5%;
  color: #FFFFFF;
  }
  }
  @media screen and (max-widht: 1000px) {
     .off-canvas{
        width: 75%;
        background-color: white;
    }
   
    .bas-1{
      margin-left: 2%;
      margin-top: 5%;
     margin-right: 3%;
      height: max-content;
      overflow: auto;
  }
  
    .pro-6{
        height: max-content;
        width: 100%;
        margin-top: 5%;
        margin-left: 2%;
        background-color: white;
     }
  .pro-li-1{
      position: relative;
       flex-direction: end;
       justify-content: flex-end;
       text-decoration: none;
       list-style: none;
       color: white;
       padding-top: 8%; 
       margin-top: 30%;
        height: 3rem;
       text-align: center;
       justify-content: center;
  }
    .pro-5{
    position: relative;
    width: 15%;
    background-color: #003666;
    height: 100%;
    margin-top: 3%;
  
  }
   .pro-det{
    display: flex;
   flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 29px;
  margin-top: 2%;
  margin-left: 5%;
  color: #FFFFFF;
  }
  }
  @media screen and (max-widht: 1250px) {
   .off-canvas{
        width: 75%;
        background-color: white;
    }
    .bas-1{
      margin-left: 2%;
      margin-top: 5%;
     margin-right: 3%;
      height: max-content;
      overflow: auto;
  }
   .pro-6{
        height: max-content;
        width: 100%;
        margin-top: 5%;
        margin-left: 2%;
        background-color: white;
     }
  .pro-li-1{
      position: relative;
       flex-direction: end;
       justify-content: flex-end;
       text-decoration: none;
       list-style: none;
       color: white;
       padding-top: 8%; 
       margin-top: 30%;
        height: 3rem;
       text-align: center;
       justify-content: center;
  }
    .pro-5{
    position: relative;
    width: 15%;
    background-color: #003666;
    height: 100%;
    margin-top: 5%;
   
  }
   .bas-rec-down{
         display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  position: relative;
  width: 70%;
  height: 54px;
  border-radius: 10px;
  }
    .pro-det{
    display: flex;
   flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 29px;
  margin-top: 2%;
  margin-left: 5%;
  color: #FFFFFF;
  }
  }
  @media screen and (max-width: 800px){
      .off-canvas{
        width: 75%;
        background-color: white;
    }
  }
.off-canvas{
    overflow: auto;
      width: 65%;
      background-color: #003666;
      margin-top: 20px;
  
}
.pro-1{
    position: absolute;
   
    width: 100%;
}
.pro-2{
    position: relative;
    background-color: #003666;
    
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.pro-img{
    margin-left: 6%;
    margin-top: 1%;
}
.pro-det{
    display: flex;
   flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  margin-top: 2%;
  margin-left: 5%;
  color: #FFFFFF;
}
.pro-btn{
    margin-top: 5%;
    margin-left: 15%;
}
.reca-tog {
    height:fit-content;
    margin-top: 2%;
           font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}
.button--1{
  border-radius: 10px;
}
.pro-4{
    margin-top: 11%;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.pro-5{
    position: relative;
    width: 15%;
    background-color: #003666;
    height: 100%;
    margin-top: 5%;
   
}
.pro-ul{
    display: flex;
    flex-direction: column;
     position: relative;
     
}
.pro-li-1{
    position: relative;
     flex-direction: end;
     justify-content: flex-end;
     text-decoration: none;
     list-style: none;
     color: white;
     padding-top: 8%; 
     margin-top: 30%;
     height: 3rem;
     text-align: center;
     justify-content: center;
}
.pro-6{
    height: max-content;
    width: 80%;
    margin-top: 5%;
    background-color: white;
}
.border-bas{
    background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 3%;
}
.bas-1{
    margin-left: 5%;
    margin-top: 2%;
   margin-right: 3%;
    height: max-content;
    overflow: auto;
    
}
.bas-title-1{
  
    font-family: 'Gorditas';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    
    letter-spacing: 0.2px;
    text-transform: uppercase;
    
    color: #E0791B;
}

.required-sym::after{
    content:" *"; 
  color: #e32;
  position: relative; 
  font-size: 20px;
}
.bas-cv{
    display: flex;
    flex-direction: row;
}
.bas-cv-p-1{
    font-family: 'Gorditas';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  
  color: #000000;
}
.bas-cv-p{
    margin-left: 75%;
    font-family: 'Inter';
    margin-top: 1%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  letter-spacing: 0.2px;
  
  color: #000000;
  
  
}
.bas-txt-upload {
    margin-top: -2%;
    width: 95%;
    border-radius: 10px;
    height: 15rem;
    border: 0px;
    overflow: auto;
    background-color: #F8F9FB;
    background-size: 30rem;
    background-repeat: no-repeat;
    
}
.bos-letter{
 
    font-family: 'Gorditas';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  
  color: #000000;
}
