.box{
    display: flex;
    width: 150%;
    margin-top: 2%;
   margin-left: -5%;
  }

  .block {
    width: 100%;
    margin-top: 1%;
    
}
.search-bar {
    position: absolute;
    left:5.5%;
    top: 63%;
    margin-left: -8%;
    width: 20px;
    height: 20px;
    list-style-type: none;
    list-style: none;
    border-style: none;
  
  }
  .rec-search {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
    }
    .bag {
        box-sizing: border-box;
      position: relative;
      margin-top: 0%;
      margin-left: 2%;
      width: 50px;
      height: 50px;
      background: #003666;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      }
      .bag-icon {
        width: 34px;
 height: 34px;
 margin-top: 10%;
 margin-left: 15%;
 }
 .bag-icon-1 {
    width: 28px;
height: 20px;
margin-top: 20%;
margin-left: 20%;
}
.bag-icon-2 {
    width: 28px;
height: 20px;
margin-top: 20%;
margin-left: 20%;
}
.rec-select {
    margin-left: 10%;
    margin-top: 2%;
    height: 100px;
    width: 100%;
 }
 .rec-down{
    display: flex;
    position: absolute;
    left: -60%;
flex-wrap: wrap;
align-items: center;
position: relative;
width: 110px;
height: 54px;
border-radius: 10px;
}
.rec-tog{
    margin:0px;
    width: max-content;
 }
 .rec-tog {
 
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
}
.rec-tog1 {
 position: relative;
 left: 100%;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
}
.new-jobaaa {
    box-sizing: border-box;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 3%;
    width: 184px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
    .user-job{
        display: flex;
        position: absolute;
        flex-direction: row;
        width: 100%;
        margin-top: 0.8%;
      }
.new-job {
  
    box-sizing: border-box;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 3%;
    width: 184px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }
    .user-job{
        display: flex;
        position: absolute;
        flex-direction: row;
        width: 100%;
        margin-top: 0.8%;
      }
      .post{
        margin-left: 8%;
        margin-top: 5%;
        width: max-content;
        font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.2px;
      
      color: #003666;
      
      }
      .child---1{
        background-color: #fafafa;
        font-size: 12px;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 10px;
        width: 10em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    /* Heading */
    color: #1A3353;
    }
    .user-table{
  
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.2px;
        
        color: #000000;
        
        }
.Sett{
    position: relative;
    width: 30px;
    height: 30px;
    left: 10%;
    margin-top: -20%;
}
.But{
    position: relative;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
