.Employee8-1 {
    display: flex;
    width: 140%;
    margin-top: 1%;
    margin-left: -10.5%;
    border: 0px;
}
.Employee8-2 {
    width: 100%;
    margin-top: 1%;
}
.Employee8-3 {
    position: relative;
    left:3%;
    top: 28%;
    margin-left: 3%;
    width: 24px;
    height: 24px;
    list-style-type: none;
    list-style: none;
    border-style: none;
}
.Employee8-4 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    outline: none;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
}
.Employee8-5 {
    box-sizing: border-box;
    position: relative;
    margin-top: 0%;
    margin-left: 3%;
    width: 50px;
    height: 50px;
    background: #003666;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.Employee8-5-icon {
    width: 20px;
    height: 20px;
    margin-top: 0.5%;
    margin-left: 1rem;
}
.Employee8-5-icon-1 {
    width: 25px;
    height: 25px;
    margin-top: 10%;
    margin-left: 20%;
}
.Employee8-5-icon-2 {
    width: 25px;
    height: 25px;
    margin-top: 10%;
    margin-left: 20%;
}
.Employee8-6 {
    position: relative;
    left: 2%;
    padding-bottom: 5%;
    margin-left: 3%;
    margin-top: 2%;
    height: max-content;
    width: 100%;
}
.Employee8-7{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 160px;
    height: 54px;
    border-radius: 10px;
}
.Employee8-8{
    margin: 0px;
    width: 100%;
    height: 80%;
    text-align: center;
    padding-top: 2%;
    border-radius: 10px;
    font-family: "Inter";
}
.Employee8-10{
    box-sizing: border-box;
    position: relative;
    width: 85rem;
    margin-bottom: 2rem;
    height: max-content;
    margin-top: 1rem;
    margin-left: -2.5%;margin-left: -2.5%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 74px;
}
.Employee8-12{
    margin-left: 45%;
    margin-top: 2%;
    color: #E0791B;
    font-family: 'Gorditas';
    font-size: 24px;
}
.Employee8-13{
    position: relative;
    width: 15%;
    height: 2.5rem;
    font-size: 15px;
    border: none;
    left: 37rem;
    font-family: 'inter';
    top: -3.5rem;
    color: black;
    background-color: #F8F9FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.Employee8-14{
    font-family: 'Inter';
}