.up-back{
    width: 100%;
    position: absolute;
    height: 100vh;
    background-image: url('./images/Recruitment jobs page 3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.pub{
    box-sizing: border-box;
    position: absolute;
    width: 765px;
    height: 300px;
    margin-left: 25%;
    margin-top: 12%;
    background: #003666;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.head-pub{
    position: relative;
    margin-top: 2%;
    margin-left: 35%;
    width: 316px;
    height: 30px;
    font-family: 'Gorditas';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFDFD;
}
.pu-line{
    position: relative;
    width: 100%;
    margin-top: 3%;    
    border: 0.5px solid #FFFFFF;
}
.pu-con{
    position: relative;
    width: 799px;
    height: 87px;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
} 
.org-btn{
    position: relative;
    width: 214px;
    height: 52px;
    margin-top: 5%;
    margin-left: 15%;
    background: #E0791B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

