@media screen  and (max-width:1000px){  
    .create-txt-logo-1{
      position: relative;
      left:18%;
      margin-top: 1.5%;
    font-family: 'Gorditas';
    font-style: normal;
    
    line-height: 29px;
    
    color: #000000;
    }
    }
    @media screen  and (max-width:1250px){  
    .create-txt-logo-1{
      position: relative;
      left:18%;
      margin-top: 1.5%;
    font-family: 'Gorditas';
    font-style: normal;
    
    line-height: 29px;
    
    color: #000000;
    }
    .create-hiring-1{
          position: relative;
    width: 100%;
    height: 29px;
    margin-top: 5%;
    margin-left:  62%;
    font-family: 'Gorditas';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
    color: #E0791B;
    }
    }
    
.main {
    display: flex;
    width: 105%;
    margin-top: 2%;
   margin-left: 10%;
}
.bl {
    width: 100%;
    margin-top: 1%;
}
.sea {
    position: absolute;
    left:-1.2%;
    top: 60%;
    margin-left: 13%;
    width: 24px;
    height: 24px;
    list-style-type: none;
    list-style: none;
    border-style: none;  
}
.search-bar-1 {
    position: relative;
    left: 4%;
    top: 5%;
   margin-top: 1.5%;
    margin-left: 3%;
    width: 24px;
    height: 24px;
    list-style-type: none;
    list-style: none;
    border-style: none;
  
}

.crea-main-1{
    box-sizing: border-box;
    position: absolute;
    margin-top: 1%;
    margin-left: 20%;
    width: 60%;
    height: max-content;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.creat-title-1{
    position: relative;
    margin-top: 1%;
    left: 5%;
   }
.creat-title-1 h3{
    position: relative;
    width: 275px;
    height: 42px;
    font-family: 'Gorditas';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #E0791B;
}
.creat-line-1{
    position: absolute;
    width: 100%;
    height: 0px;
    display: flex;
    left: -5%;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
}
.create-txt{
    position: absolute;
    width: 112px;
    height: 29px;
    margin-top: 2%;
    margin-left: 3%;
    font-family: 'Gorditas';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
}


.rec-sea {
    box-sizing: border-box;
    display: flex;
    outline: none;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25);
    border-radius: 10px;    
}
.hiring-workflow{
    position: relative;
    margin-left: 3%;
    margin-top: 1%;
    width: 196px;
    height: 29px;
    font-family: 'Gorditas';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;  
    color: #000000;
}
.create-hiring-1{
    position: relative;
width: 100%;
height: 29px;
margin-top: 7%;
margin-left:  59%;
font-family: 'Gorditas';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;

color: #E0791B;
}
.create-txt-logo-1{
    position: relative;
    left:14%;
    margin-top: 1.5%;
  font-family: 'Gorditas';
  font-style: normal;
  
  line-height: 29px;
  
  color: #000000;
}


  
.name-pos{
    margin-left: 1%;
    margin-top: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
}
.email-pos{
  
    font-family: 'Inter';
    margin-top: 2%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.pos-recas{
    height: max-content;
    margin-left: 3%;
    margin-right:3%;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 5%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lock-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;  
}
.pos-line-1{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin-left: 0%;
}
.lock-p-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
}
.pos-line-2{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin-left: -9%;
}
.pos-line{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin-left: 0%;
}
