
@media screen and (man-widht: 1250px) {
    .upload{
      position: relative;
    width: 10%;
    height: 45.63px;
    background: #F8F9FB;
    border-radius: 13px;
    margin-left: 55%;
    }
    }
    @media screen and (man-widht: 1000px) {
     .upload{
      position: relative;
    width: 10%;
    height: 45.63px;
    background: #F8F9FB;
    border-radius: 13px;
    margin-left: 40%;
    }
    }
.upload-back{
    width: 100%;
    position: absolute;
    height: 102vh;
    background-image: url('./images/Recruitment jobs page 3.png');
    background-repeat: no-repeat;
     background-size: cover;
}

.or-1 {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.or-2 {
    overflow: hidden !important;
    box-sizing: border-box;
    background-color: red;
    position: absolute;
    margin-top: 2.5%;
    margin-left: 28%;
    width: 40%;
    height: 85%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.or-3{
    position: relative;
    text-align: center;
}
.or-title1{
    margin-top: 3.5%;
    font-family: 'Gorditas';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #E0791B;
}
.or-line1{
    border: 0.5px solid #000000;
    margin-left: 3%;
    margin-right: 3%;
}
.or-main{
    position: absolute;
    width: 100%;
    height: 100%;  
}
.or-4{
    margin-top: 3%;
    position:relative;
    width: 80%;
    height: 80%;
    margin-bottom: 3%;
    margin-left: 10%;
    background: rgba(208, 218, 246, 0.3);
    border-radius: 30px;  
}
.or-5 {
    box-sizing: border-box;
    position: absolute;
    width: 90%;
    height: 2rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 5%;
}

.faultCheckbox{
    margin-top: 2%;
    width: 15px;
    height: 15px;
}
.or-5-P1{
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 29px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #003666;
}
.jobtitle{
    position: relative;
  width: max-content;
  height: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* identical to box height */
  
  
  color: #000000;
}
.required-sym::after{
    content:" *"; 
    color: #e32;
    position: relative; 
    font-size: 20px;
}
.form-enter---1{
    position: relative;
    width: 95%;
    height: 30px;
    top: 30%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.form-enter---3{
    margin-top: 3%;
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 30px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.or-t{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: -0.02em;
    color: #000000;  
}
.seperate{
    outline: none !important;
    border-color: white;
    border: none;
}
.description{
    box-sizing: border-box;
  
  position: relative;
  width: 95%;
  height: max-content;
  
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.descrip-icon-1{
    position: relative;
  width: 20px;
  height: 17.08px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
  margin-left: 13%;
  margin-top: 6%;
  color: #003666;
  float: left;
}

.upload1{
    position: relative;
  width: 15%;
  height: 30px;
  background: #F8F9FB;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 1.1%;
}
.descrip-icon-2{
    position: relative;
    width: 20px;
    left: 3%;
    height: 17.08px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-left: 3%;
    margin-top: 5%;
    color: #003666;
}
.upload-txt5{
    position: relative !important;
    width: 81px;
    height: 14.44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 1%;
    line-height: 29px;
    color: #000000;
}
.txt-upload {
    width: 95%;
    border-radius: 10px;
    height: 15rem;
    overflow: auto;
    background-image: url('./images/logo 3.png');
    background-position: center center;
    background-size: 28rem;
    background-repeat: no-repeat;
}
.rej-btns{
    margin-top: 2%;
    margin-bottom: 1%;
}
.reject-btn {
    width:10rem;
    color: white;
    font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height */
  
    background: #003666;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-left: 3%;
}
