.testing-App{
    align-items: center;
    justify-content: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.required-sym::after{
  content:" *"; 
color: #e32;
position: relative; 
font-size: 20px;
}
.testing-content{
    width: 600px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
.testing-content11{
  width: 600px;
  height: 300px;
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
.testing-content100{
  width: 500px;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}
.testing-p{
    font-family: 'Gorditas';
  font-style: normal;
      font-weight: bold;
      color: #E0791B;
}
.hin{
    position: relative;
    margin-top: -4%;
  }
  .testing-2{
    position: relative;
  font-family: 'Gorditas';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 29px;
  color: #003666;
  margin-top: 0%;
  left: -40%;
}
.testing-btn{
  position: relative;
  padding-top: 1%;
}
.testing-btn1{
  position: relative;
  padding-top: 1%;
  padding-bottom: 5%;
}
.testing-input{
    width: 80%;
    height: 178px;
    border-radius: 5px;
    background: #FFFFFF;
    text-align: center;
    margin-left: 10%;
    margin-top: -10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.5;
   
}
.upload-2{
    position: relative;
  width: 30% !important;
  height: 45.63px;
  background: #F8F9FB;
  border-radius: 13px;
  margin-left: 35%;
  top: 30%;
  opacity: 1;
}
.descrip-icon-1{
    position: relative;
  width: 20px;
  height: 17.08px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
  margin-left: 13%;
  margin-top: 6%;
  color: #003666;
  float: left;
}
.upload-txt{
    position: relative !important;
 width: 81px;
 height: 14.44px;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 margin-top: 10%;
 
 line-height: 29px;
 
 color: #000000;
}

.aaa{
    position: absolute;
    width: 50%;
    margin-top: 7%;
    left: 19%;
    font-size: 12px;
    color: #C4C4C4;
  
}
.testing-button{
    background-color: #003666;
    color:white;
    width: 150px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    margin: 0 10px;
}
.testing-button00{
  background-color: #003666;
  color:white;
  width: 150px;
  height: 40px;
  border: 0px;
  border-radius: 10px;
  margin: 0 10px;
}
.testing-input1{
  width: 80%;
  height: 80px;
  outline: none;
  border-radius: 5px;
  background-color: #F8F9FB;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 35px 40px;
  border: 0px;
 opacity: 0.5;
}
